{% extends 'base.html' %}

{% block title %}
Database Home
{% endblock %}
{% block breadcrumb%}
<li class="breadcrumb-item active">Databases</li>
{% endblock %}

{% block content %}

<table class = "table">
  <thead class = "thread-inverse">
    <tr>
      <th>Database</th>
      <th>Tables</th>
    </tr>
  </thead>
  <tbody>
    {% for database in databases %}
      <tr>
        <td>
          <a href="{% url 'comp_tables' database.pk %}" target="_blank">{{ database.name }}</a><br>
          <small class="text-muted d-block">{{ database.description }}</small>
        </td>
         <td class="align-middle">{{database.num_tables}}</td>
        <td></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
