[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
psycopg2 = "*"
django-widget-tweaks = "*"
requests = "*"
certifi= "*"
chardet= "*"
django-heroku= "*"
idna= "*"
urllib3= "*"
whitenoise= "*"

[requires]
python_version = "3.6"

[dev-packages]
hello = {editable = true, path = "."}
